:root {
    --color1: #000000; /*text color*/
    --color2: #FFB4DC; /*window color*/
    --color3: #000000; /*bg color*/
    --color4: #000000; /*#a1f4c3*/
    --color4: #000000; /*#ff0073*/
    --color5: #000000; /*#ff0000*/
    --pink: #8888dd;
    --green: #00b300;
    --deffont: simsun

}

body {
 color: var(--color1);
 font-family: var(--deffont);
}

@font-face { font-family: Chicago; src: url('Chicago.ttf'); } 
@font-face { font-family: handelgothic; src: url('handelgothic.ttf'); }
@font-face { font-family: simsun; src: url('simsun.ttf'); } 
@font-face { font-family: rodin; src: url('rodin.otf'); } 
@font-face { font-family: pokemon; src: url('pokemon.ttf'); }
@font-face { font-family: tahoma; src: url('tahoma.ttf'); } 
@font-face { font-family: mincho; src: url('mincho.ttf');  }
@font-face { font-family: ggsans; src: url('ggsans.ttf');  }

.document{font-size:10pt}
.document h6{font-family:'Arial', sans-serif}.document h1{font-size:14pt;font-weight:bold}
.document h2{font-size:12pt;font-weight:bold;font-style:italic;color:var(--color1)}
.document h1{font-size:20pt;font-weight:bold;color:var(--color1)}
.document h3{font-size:12pt;font-weight:normal}
.document table{font-size:10pt}
.window{font-size:11px;background:var(--color2);padding:3px;max-width:512px;margin:0 auto}
.windowtop{font-size:11px;background:var(--color2);padding:3px;max-width:512px;margin:0 auto}
.window fieldset{margin-bottom:9px}
.title-bar{font-size:11px;padding:3px 2px 3px 3px;align-items:center;}
.title-bar-text{font-weight:bold;color:var(--color1);letter-spacing:0;text-align:center}
.document-content{padding:10px;padding-block-start:8px;max-height:calc(200vh - 173px);}
.player-content{text-align:center;padding:10px;padding-block-start:8px;max-height:calc(200vh - 173px);}
.document-content img{max-width:256px;}
.navigation-icons{display:flex;padding:2px;justify-content:center;font-size:12px}
.navigation-icons a,
.navigation-icons a:link{color:var(--color1);text-decoration:none}
.navigation-icon{display:flex;flex-direction:column;text-align:center;height:16px;padding:4px;cursor:pointer}
.navigation-icon:hover{box-shadow:inset -1px -1px var(--color1),inset 1px 1px var(--color1)}
.navigation-icon:active{box-shadow:inset -1px -1px var(--color1),inset 1px 1px red}body{-webkit-font-smoothing:none;font-size:8pt;background:var(--color3);margin:12px}
.drop-icons{display:flex;padding:2px;justify-content:left;}
.social-icons{display:flex;padding:2px;justify-content:right;font-size:12px}
.social-icon{display:flex;flex-direction:column;text-align:center;width:16px;height:16px;padding:4px;cursor:pointer}
.center-container{height:600px;max-height:100%;margin:auto}
.window-body{margin:1px}vr{border-left:1px solid var(--color1);border-left:1px solid black;border-right:1px solid var(--color1);margin:2px 3px}
.statusbar{padding:1px;display:flex}
.statusbar{justify-content:right;color:var(--color1)}
