:root {
    --color1: #000000; /*text color*/
    --color2: #FF9BD0C0; /*window color*/
    --color3: #000000; /*bg color*/
    --color4: #FFFFFF64;/*window accent light*/
    --color5: #FF9BD0; /*window color opaque*/
    --color6: #00000064;/*window accent dark*/
    --deffont: monospace;
  --inset-light: inset 1px 1px var(--color4);
  --inset-dark: inset -1px -1px var(--color6);
}
[data-bevel] {
  box-shadow: var(--inset-dark), var(--inset-light); padding-left:6px; padding-right:6px; padding:4px; background-color:var(--color5);border-radius: 6px;text-decoration:none;background:linear-gradient(180deg, var(--color5), var(--color2));
}
@font-face { font-family: simsun; src: url('simsun.ttf'); } 
@font-face { font-family: handelgothic; src: url('handelgothic.ttf'); }
@font-face { font-family: vcr; src: url('vcr.ttf'); } 
@font-face { font-family: chicago; src: url('chicago.ttf'); } 
@font-face { font-family: papermario; src: url('papermario.ttf'); } 
@font-face { font-family: rodin; src: url('rodin.otf'); } 

body{
  image-rendering: crisp-edges;
  -webkit-font-smoothing: none;
  font-smooth: never;
  font-size:12px;
   font-family: var(--deffont);font-weight:500;
  color: var(--color1);
  background-image: url("https://www.jakobutter.net/img/space.png");
  background-color: var(--color3);
  background-attachment:fixed}

h1{font-size:20px;font-weight:bold;color:var(--color1); margin:0px;}
a{text-decoration-color:var(--color1);color:var(--color1);}
img{max-width:256px;}
p {margin: 3px 0 0; padding-left: 16px; }

.sitecontent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1024px;
  margin: auto;
  padding-top: 64px;
}
.topwindow{font-size:12px;background:linear-gradient(180deg, var(--color5), var(--color5), var(--color2));margin:0 auto; top: 0; left: 0; position: fixed; padding-left:32px; justify-content:left; text-align:left; z-index:1;
  width:100%;min-height:52px}

.navigation-icons a{cursor:pointer}

[data-bevel]:active{box-shadow:inset -1px -1px var(--color4),inset 1px 1px var(--color6)}
.drop-icons{display:flex;padding:4px;gap:8px;}
