:root {
    --color1: #000000; /*text color*/
    --color2: #FF9BD0; /*window color*/
    --color3: #000000; /*background color*/
  --inset:inset 1px 1px #FFFFFF86, inset -1px -1px #00000086;
  --insethover:inset 1px 1px #00000086, inset -1px -1px #FFFFFF86;
}
@font-face { font-family: simsun; src: url('simsun.ttf'); } 
@font-face { font-family: handelgothic; src: url('handelgothic.ttf'); }
@font-face { font-family: vcr; src: url('vcr.ttf'); } 
@font-face { font-family: chicago; src: url('chicago.ttf'); } 
@font-face { font-family: papermario; src: url('papermario.ttf'); } 
@font-face { font-family: rodin; src: url('rodin.otf'); } 
body{justify-content:center;font-family:simsun;font-size:14px;display:flex;flex-wrap:wrap;align-items: flex-start;background-color:var(--color3);margin: 0 auto;padding-top:64px;padding-bottom:128px;  max-width: 1024px; image-rendering: crisp-edges;-webkit-font-smoothing: none;font-smooth: never; background-image: url("https://www.jakobutter.net/img/space.png");
  background-attachment:fixed}
  
header{background-color:var(--color2);max-width:none; width:100%;top: 0; left: 0; position: fixed; padding-left:32px; text-align:left; z-index:1}
header span{width: 16px;height:16px}

div{display:flexbox;background-color:var(--color2);margin:4px;border-width:1px;position:relative;justify-items:top;box-shadow:var(--inset);padding:4px}
div.collapsed > *:not(:first-child) { display: none; }

nav{box-shadow:var(--inset);border-width:1px;background-color:var(--color2);display:inline-block;padding:2px;margin:0px;}
nav:hover{max-width:fit-content;cursor:help;}
nav:active{background-color:var(--color4);box-shadow:var(--insethover)}
span{width: 32px;height:32px;display:inline-block;background-size: 100% 100%;top: 0;right:0;margin-top:4px;}
span:hover{filter: invert(100%);background-color:#FFFFFF64;box-shadow:var(--insethover)}

a{color:var(--color1);}
a:link{text-decoration:none;cursor:alias;color:var(--color1);}
a:visited{text-decoration:none;color: var(--color1);}
h3{text-color:var(--color1);margin:0px;padding:0px;border-width:0px;text-decoration:underline;font-size:16px;display: inline;}
a:hover{cursor:pointer;}

img {width:256px;max-height:100%;cursor:grab;position:relative;vertical-align:top}

#playa{font-size:12px;margin:0 auto; padding-top:6px; padding-bottom:6px; bottom:0px; left:0px; position: fixed; text-align:center; z-index:1;width:100%;}
#track-list{font-size:12px}
#track-list:hover{cursor:pointer}
button {width: 16px;height: 16px;background-color: var(--color2);box-shadow: var(--inset);border: none;padding: 0;cursor: pointer;}
button:active {box-shadow: var(--insethover);}
#play-pause,#prev,#next{width:32px;height:32px;font-size:24px}
#scrub-bar {height: 16px;width: 75%;max-width:512px; display: inline-block; cursor: pointer; box-shadow: var(--insethover);}
#progress {height: 100%;background:var(--color1);width: 0;}
.active {font-weight: bold;}

.youtube{background-image:url("https://www.youtube.com/favicon.ico")}
.soundcloud{background-image:url("https://www.google.com/s2/favicons?sz=16&domain_url=https%3A%2F%2Fsoundcloud.com")}
.spotify{background-image:url("https://duckduckgo.com/assets/icons/favicons/spotify.png")}
.applemusic{background-image:url("https://music.apple.com/assets/favicon/favicon-32.png")}
.instagram {background-image:url("https://www.google.com/s2/favicons?sz=16&domain_url=https%3A%2F%2Finstagram.com")}
.twitter {background-image:url("https://www.google.com/s2/favicons?sz=16&domain_url=https%3A%2F%2Ftwitter.com")}

.active {box-shadow:var(--insethover)}
.mySlides {display: none;}